.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important; }

html {
  background: #DA93CE; }

body {
  margin: 0; }

a {
  word-wrap: break-word; }

#main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background: lightblue;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
  z-index: 999; }

button {
  cursor: pointer; }

.beta {
  position: absolute;
  top: 37px;
  font-size: 8pt;
  left: 24px;
  font-family: monospace; }

.body {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-y: auto;
  background: url("../img/landscape2.svg");
  background-size: cover; }
  .body::-webkit-scrollbar {
    width: 5px; }
    .body::-webkit-scrollbar * {
      background: transparent; }
  .body::-webkit-scrollbar-thumb {
    background: #999 !important; }
    .body::-webkit-scrollbar-thumb:window-inactive {
      background: rgba(255, 0, 0, 0.4); }
  .body .main-button, .body .home-button, .body .about-button {
    position: fixed;
    top: 0;
    height: 50px;
    width: 50px;
    background: white;
    border-radius: 3px;
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
    margin: 8px;
    cursor: pointer; }
    @media screen and (max-width: 768px) {
      .body .main-button, .body .home-button, .body .about-button {
        position: absolute;
        margin: 5%; } }
    .body .main-button:hover, .body .home-button:hover, .body .about-button:hover {
      box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16); }
  .body .home-button {
    left: 0; }
    .body .home-button img {
      height: 40px;
      position: relative;
      left: 5px;
      top: 5px; }
  .body .about-button {
    right: 0;
    width: auto;
    border: none; }

.card-container {
  position: absolute;
  width: 600px;
  top: 5%;
  left: calc(50% - 300px);
  height: 100%; }
  @media screen and (max-width: 768px) {
    .card-container {
      width: 90%;
      left: 5%;
      margin-top: 50px; } }
  .card-container .about-modal {
    position: absolute;
    top: -500%;
    width: 100%;
    transition: 350ms;
    background: white;
    border-radius: 3px;
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
    z-index: 99;
    padding: 10px;
    left: -10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .card-container .about-modal-down {
    top: 5%; }
  .card-container .about-modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    opacity: .3;
    width: 100%;
    height: 100%;
    z-index: 98; }

.post-container {
  position: absolute;
  top: 120px;
  height: calc(100% - 141px);
  overflow-y: auto; }

.post-container::webkit-scrollbar {
  display: none; }

.load-more-button {
  width: 100%;
  background: white;
  border: none;
  border-radius: 3px;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
  margin-bottom: 15px;
  height: 30px;
  font-size: 13pt; }

/*# sourceMappingURL=emote.css.map */
