$z1-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
$z2-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
$z1-shadow-inset: inset 0 2px 10px 0 rgba(0, 0, 0, 0.16), inset 0 2px 5px 0 rgba(0, 0, 0, 0.26);
$main-header-height: 30px;
$std-gray:#FAFAFA;
$fill: calc(100% - #{$main-header-height});
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}
html {
  background: #DA93CE;
}
body {
  margin:0;
}
a {
  word-wrap: break-word;
}
#main-header {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:$main-header-height;
  background:lightblue;
  box-shadow: $z1-shadow;
  z-index: 999;
}
button {
  cursor:pointer;
}
.beta {
  position: absolute;
  top: 37px;
  font-size: 8pt;
  left: 24px;
  font-family: monospace;
}
.body {
  position:fixed;
  width:100%;
  height:100%;
  margin:0;
  overflow-y: auto;
  background: url('../img/landscape2.svg');
  background-size: cover;
  
  &::-webkit-scrollbar {
    width: 5px;
    * {
      background: transparent;
    }
  }
  &::-webkit-scrollbar-track {}
  &::-webkit-scrollbar-thumb {
    background: #999 !important;
    &:window-inactive {
      background: rgba(255, 0, 0, 0.4);
    }
  }
  .main-button {
    position:fixed;
    top:0;
    height:50px;
    width:50px;
    background: white;
    border-radius: 3px;
    box-shadow: $z1-shadow;
    margin:8px;
    @media screen and (max-width:768px) {
      position:absolute;
      margin:5%;
    }
    cursor:pointer;
    &:hover {
      box-shadow:$z2-shadow;
    }
  }
  .home-button {
    @extend .main-button;
    left:0;
    img {
      height: 40px;
      position: relative;
      left: 5px;
      top: 5px;
    }
  }
  .about-button {
    @extend .main-button;
    right:0;
    width:auto;
    border:none;
  }
}

.card-container {
  position:absolute;
  width:600px;
  top:5%;
  left:calc(50% - 300px);
  height:100%;
  @media screen and (max-width:768px) {
    width:90%;
    left:5%;
    margin-top:50px;
  }
  .about-modal {
    position: absolute;
    top:-500%;
    width:100%;
    transition:350ms;
    background:white;
    border-radius: 3px;
    box-shadow: $z1-shadow;
    z-index: 99;
    padding: 10px;
    left: -10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  .about-modal-down {
    top:5%;
  }
  .about-modal-backdrop {
    position:fixed;
    top:0;
    left:0;
    background:black;
    opacity:.3;
    width:100%;
    height:100%;
    z-index: 98;
  }
}
.post-container {
  position: absolute;
  top: 120px;
  height: calc(100% - 141px);
  overflow-y: auto;
}
.post-container::webkit-scrollbar {
  display:none;
}
.load-more-button {
  width:100%;
  background: white;
  border: none;
  border-radius: 3px;
  box-shadow: $z1-shadow;
  margin-bottom: 15px;
  height: 30px;
  font-size: 13pt;
}
