<div class="em-react">
  <div style="display:inline-block" ng-repeat="(emotion,count) in reactions" class="reaction-container" ng-click="addReaction(emotion)">
    <img src="img/{{emotion}}.svg" class="reaction-img">
    <span class="reaction-count">{{count}}</span>
  </div>
</div>

