$z1-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
$font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
$text-color:rgb(41, 47, 51);
$z1-shadow-inset: inset 0 2px 10px 0 rgba(0, 0, 0, 0.16), inset 0 2px 5px 0 rgba(0, 0, 0, 0.26);
.em-react {
  width:100%;
  margin-top: 15px;
  padding-bottom: 10px;
  .reaction-count {
    position: relative;
    background: #BA68C8;
    color: white;
    font-size: 8pt;
    padding: 2px 5px 2px 5px;
    border-radius: 28px;
    top: -13px;
    left: -9px;
    z-index: 0;
    display: inline-block;
  }
  .reaction-img {
    width:21px;
    height:21px;
    position:relative;
    z-index: 10;
    border-radius:10px;
    transition:200ms;
    &:hover {
      box-shadow: $z1-shadow;
    }
  }
  .reaction-container {
    display:inline-block;
    margin-top: 6px;
    cursor:pointer;
  }
}
