.em-react {
  width: 100%;
  margin-top: 15px;
  padding-bottom: 10px; }
  .em-react .reaction-count {
    position: relative;
    background: #BA68C8;
    color: white;
    font-size: 8pt;
    padding: 2px 5px 2px 5px;
    border-radius: 28px;
    top: -13px;
    left: -9px;
    z-index: 0;
    display: inline-block; }
  .em-react .reaction-img {
    width: 21px;
    height: 21px;
    position: relative;
    z-index: 10;
    border-radius: 10px;
    transition: 200ms; }
    .em-react .reaction-img:hover {
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26); }
  .em-react .reaction-container {
    display: inline-block;
    margin-top: 6px;
    cursor: pointer; }

/*# sourceMappingURL=em-react.css.map */
