<div class="em-notify">
  <div id="notifier" class="notifier" ng-class="{'notifier-down':scrollDown}" ng-click="loadNewPosts()">
    <span ng-show="newPostCount">{{newPostCount}} new post<span style="position:static" ng-show="newPostCount > 1">s</span>!</span>
    <span ng-hide="newPostCount" ng-bind="defaultNotify"></span>
  </div>
</div>