.em-notify .notifier {
  position: fixed;
  top: -45px;
  width: 200px;
  left: calc(50% - 100px);
  transition: 250ms;
  z-index: 999999;
  background: #049BF9;
  color: white;
  border-radius: 3px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  text-align: center;
  height: 40px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  cursor: pointer; }
  .em-notify .notifier span {
    position: relative;
    top: 11px; }
.em-notify .notifier-down {
  top: 7px; }

/*# sourceMappingURL=em-notify.css.map */
