<html ng-app="emoteApp">
  <head>
    <meta property="og:url" content="http://www.plurb.us">
    <meta property="og:title" content="Plurb | The World's Page">
    <meta property="og:description" content="Share your thoughts with the world">
    <meta property="og:image" content="http://www.plurb.us/img/plurb-main.png">
    <meta property="fb:app_id" content="1692783980978227">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Plurb | The World's Page</title>
    <link rel="icon" href="img/plurb-main.png">
    <!-- build:css -->
    <link rel='stylesheet' href='components/em-write/em-write.css'>
    <link rel='stylesheet' href='components/em-search/em-search.css'>
    <link rel="stylesheet" href="components/em-react/em-react.css">
    <link rel='stylesheet' href='components/em-notify/em-notify.css'>
    <link rel="stylesheet" href="components/em-comment/em-comment.css">
    <link rel="stylesheet" href="components/em-card/em-card.css">
    <link rel="stylesheet" href="css/emote.css">
    <!-- endbuild -->
    <!-- build:js -->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="components/em-card/em-card.js"></script>
    <script src="components/em-react/em-react.js"></script>
    <script src="components/em-comment/em-comment.js"></script>
    <script src="components/em-search/em-search.js"></script>
    <script src="components/em-write/em-write.js"></script>
    <script src="components/em-notify/em-notify.js"></script>
    <script src="components/ws/ws.js"></script>
    <script src="controllers/emoteCtrl.js"></script>
    <script src="components/analytics/analytics.js"></script>
    <!-- endbuild -->
  </head>
  <body ng-controller="emoteCtrl">
    <div class="body" id="main-body">
      <div class="home-button" ng-click="resetHash()"><img src="img/plurb-main.png"><div class="beta">BETA</div></div>
      <button class="about-button" ng-click="showAboutModal = !showAboutModal;">What's Plurb?</button>
      <em-notify></em-notify>
      <div class="card-container">
        <div class="about-modal-backdrop" ng-if="showAboutModal" ng-click="hideModal()"></div>
        <div class='about-modal' ng-class='{"about-modal-down":showAboutModal}'>
          <p>Plurb.us is the World's Social Media Page.</p>
          <p>There are no profiles, because <a href='https://www.youtube.com/watch?v=NxSFTUCjamc'>we are the world</a>.</p>
          <p>This means anyone can get on and post anything that doesn't violate the <a href="terms.html" target="_blank">Terms of Use</a>, anonymously.</p>
          <p>How anonymous? I don't intentionally store any information that links you to your posts.</p>
          <p>This means two things: </p>
          <p><b>Number one:</b> You'll need to bookmark posts and search results using your browser if you want to follow them. Click on profile pics to load up the post
            by itself, then bookmark the resulting page.</p>
          <p><b>Number two:</b> I'm not guaranteeing your anonymity from tech wizards out there. But your job, your dad, and the hordes of Social Justice Warriors patrolling the internet will have no idea who's saying what on Plurb :)</p>
          <p>Post Away!</p>
        </div>
        <em-search search-term="search.searchTerm"></em-search>
        <em-write></em-write>
        <div style="margin-bottom:10px;background:white;width:calc(100% - 20px);border-radius:3px;padding:10px;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif">This is a beta, so things might get bumpy! Please post any bugs you find with <a href="#bugreport">#bugreport</a>, post ideas to make the site better with <a href="#plurbidea">#plurbidea</a>. Have fun!</div>
        <em-card ng-repeat="post in postFactory.posts" post-data="post"></em-card>
        <button ng-click="loadMore()" class="load-more-button">Load more</button>
      </div>
    </div>
  </body>
</html>