<p>By using this site, you agree to these terms.</p>
<p>Plurb.us uses cookies to track site usage information and that's it. It does not store any personal information.</p>
<p>Any content containing pornography, or links to pornography will be removed.</p>
<p>The same goes for posts inciting violence, terrorism, etc.</p>
<p>This site shall not be used for evil, as determined subjectively by me, Seth White</p>
<p>I reserve the right to remove any post for any reason, though, unless it's something that violates the above requirements, I likely won't.</p>
<a href="http://www.plurb.us">Enough of this boring stuff, back to Plurb!</a>