<div class="em-search">
  <div class="x-container" ng-show="searchTerm" ng-click="clearSearch()">
    <div class="first-x-piece"></div>
    <div class="second-x-piece"></div>
  </div>
  <form>
    <input ng-keydown="checkSubmit($event)" ng-model="searchTerm" placeholder='Search...' class='em-search-input'>
  </form>
</div>