.em-search-input {
  width: 100%;
  border: none;
  border-radius: 3px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  margin-bottom: 7px;
  height: 30px;
  font-size: 16px;
  padding-left: 10px; }

.first-x-piece {
  position: absolute;
  top: 0;
  left: 6px;
  width: 3px;
  height: 16px;
  background: #292f33;
  transform: rotate(45deg); }

.second-x-piece {
  position: absolute;
  top: 0;
  left: 6px;
  width: 3px;
  height: 16px;
  background: #292f33;
  transform: rotate(135deg); }

.x-container {
  position: absolute;
  top: 7px;
  right: 7px;
  cursor: pointer;
  height: 15px;
  width: 15px; }

/*# sourceMappingURL=em-search.css.map */
