$z1-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
$font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
$text-color:rgb(41, 47, 51);
.em-write {
  width: calc(100% - 20px);
  color:$text-color;
  box-shadow: $z1-shadow;
  background:white;
  padding:10px;
  padding-bottom:0;
  margin-bottom:20px;
  border-radius:3px;
  font-family:$font-family;
  position:relative;
  .placeholder {
    position: absolute;
    color:#999;
  }
  .post-body {
    color:#999;
    margin-bottom: 10px;
    &:focus {
      outline: none;
      border:none;
    }
  }
  .em-write-button {
    position: relative;
    bottom: 0;
    left: -10px;
    width: calc(100% + 20px);
    background: white;
    border: none;
    border-top: 1px solid darkgray;
    height:30px;
    border-bottom-right-radius:3px;
    border-bottom-left-radius:3px;
    cursor:pointer;
    color:$text-color;
  }
}
