<div class="em-write">
  <div class="placeholder" ng-click="focusWriter()" ng-show="showPlaceholder" contenteditable="false">{{placeholder}}</div>
  <div id="em-post-writer"
       autofocus="true"
       contenteditable="true"
       class="post-body"
       ng-focus="clearPlaceholder()"
       ng-blur="restorePlaceholder()"
       ng-keypress="unlockPost($event)"></div>
  <button class="em-write-button" ng-click="createPost()">Post</button>
</div>