<div class="em-card" id="{{postData._id}}">
  <div class="card-body" ng-bind-html="postData.body"></div>

  <div class='react-container' id="react-container">
    <div class="react" ng-class="{'slide-show':showReactions && !showComments, 'slide-hide':!showReactions && showComments, transition:buttonClicked}" ng-click="toggleReactions()">
      <span class="response-text" ng-class="{transition:buttonClicked}">React (<span ng-bind="getReactionCount()"></span>)</span>
    </div>
    <div class="comment" ng-class="{'slide-show':!showReactions && showComments, 'slide-hide':showReactions && !showComments, transition:buttonClicked}" ng-click="toggleComments()">
      <span class="response-text" ng-class="{transition:buttonClicked}">Comment ({{postData.commentCount}})</span>
    </div>
  </div>
  <em-react ng-show="showReactions" reactions="postData.reactions" post-id="postData._id"></em-react>
  <em-comment ng-show="showComments" comments="postData.comments" post-id="postData._id"></em-comment>
</div>