$z1-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
$font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
$text-color:rgb(41, 47, 51);
.em-card {
  width:calc(100% - 20px);
  padding:10px;
  padding-bottom:0;
  min-height:18px;
  margin-bottom:15px;
  border-radius:3px;
  background:white;
  box-shadow: $z1-shadow;
  position:relative;
  font-family: $font-family;
}
.emoji {
  position: relative;
  top: 5px;
}
.transition {
  transition: 200ms;
}
.react-container {
  position:relative;
  left:-10px;
  bottom:0;
  font-size:10pt;
  height:22px;
  width:calc(100% + 20px);
  text-align: center;
  cursor: pointer;
  background:white;
  border-bottom-left-radius:3px;
  border-bottom-right-radius:3px;
  color:$text-color;
  @mixin react-button() {
    position:absolute;
    width:50%;
    height:100%;
  }
  .slide-hide {
    width:0% !important;
    border-radius:0 !important;
    span {
      font-size: 0;
    }
  }
  .slide-show {
    width:100% !important;
    border-radius:0 !important;
    span {
      font-size:10pt;
    }
  }
  .response-text {
    display: block;
    margin-top: 3px;
  }
  .react {
    @include react-button();
    left:0;
    background:#64B5F6;
    color:#292f33;
    border-bottom-left-radius:3px;
  }
  .comment {
    @include react-button();
    right:0;
    background:#FFD54F;
    color:#292f33;
    border-bottom-right-radius:3px;
  }
}
.card-body {
  width:100%;
  min-height: 50px;
  margin-bottom: 10px;
  color:$text-color;
}
.profile {
  float:left;
  margin-right:5px;
  border-radius:3px;
}