.em-comment {
  width: 100%;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px; }
  .em-comment .comment-input-container {
    position: relative;
    width: calc(100% - 39px); }
  .em-comment .comment-input {
    width: calc(100% - 14px);
    box-shadow: inset 0 2px 10px 0 rgba(0, 0, 0, 0.16), inset 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    padding: 7px;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    position: relative;
    margin-bottom: 5px; }
  .em-comment .comment-button {
    position: absolute;
    left: 100%;
    top: 0;
    height: 100%;
    background: #FFD54F;
    border: none;
    color: #292f33;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    cursor: pointer;
    transition: 200ms; }
    .em-comment .comment-button:hover {
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26); }
  .em-comment .comment-item {
    padding-top: 5px;
    border-top: 1px solid lightgray;
    margin-bottom: 5px; }
  .em-comment .comment-like {
    font-size: 10pt;
    color: #1020d0;
    cursor: pointer; }
    .em-comment .comment-like:hover {
      text-decoration: underline; }

/*# sourceMappingURL=em-comment.css.map */
