$z1-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
$font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
$text-color:rgb(41, 47, 51);
$z1-shadow-inset: inset 0 2px 10px 0 rgba(0, 0, 0, 0.16), inset 0 2px 5px 0 rgba(0, 0, 0, 0.26);
.em-comment {
  width:100%;
  margin-top:10px;
  padding-top: 5px;
  padding-bottom:5px;
  .comment-input-container {
    position: relative;
    width:calc(100% - 39px);
  }
  .comment-input {
    width:calc(100% - 14px);
    box-shadow: $z1-shadow-inset;
    padding:7px;
    border:none;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
    position: relative;
    margin-bottom:5px;
  }
  .comment-button {
    position: absolute;
    left:100%;
    top: 0;
    height: 100%;
    background: #FFD54F;
    border: none;
    color: #292f33;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    cursor:pointer;
    transition:200ms;
    &:hover {
      box-shadow: $z1-shadow;
    }
  }
  .comment-item {
    padding-top: 5px;
    border-top: 1px solid lightgray;
    margin-bottom: 5px;
  }
  .comment-like {
    font-size:10pt;
    color: rgb(16, 32, 208);
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}
