<div class="em-comment">
  <div class="comment-input-container">
    <div class="comment-input"
         id="comment-input-{{postId}}"
         placeholder="Comment..."
         contenteditable="true">
    </div>
    <button ng-click="postComment()" class="comment-button" contenteditable="false">Post</button>
  </div>
  <div ng-repeat="comment in comments | orderBy: '-likes'" class="comment-item">
    {{comment.body}}
    <div style="-webkit-user-select:none;">
      <span ng-click="likeComment(comment.key)" class="comment-like">like</span><span style="font-size: 10pt"> - {{comment.likes}}</span>
    </div>
  </div>
</div>